<!DOCTYPE html>
<html>
<head>
  <title>Maps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">


<div id="banner">
  <%= image_tag("cabqLogo4.png") %>
  <%= @page_title || "ABQ Data" %>
</div>
<%= yield %>

</body>
</html>
